<!DOCTYPE html>
<html>

        <head>
                <title>Insert Page</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'all.css' %}">

        </head>
<body>
        <h1>Insert Records Into</h1>
	<center>	
		<div class="containers">
		<a href="/insertemployee" ><button type="button">Employee</button></a><br>
		<a href="/insertdept" ><button type="button">Department</button></a><br>
		<a href="/insertproject" ><button type="button">Project</button></a><br>
		<a href="/insertleave" ><button type="button">Leaves</button></a><br>
		<a href="/inserttakes" ><button type="button">Takes</button></a>
	</div>
	</center>	
</body>
</html>

